In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from cuml.naive_bayes import MultinomialNB
from cuml.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from cuml.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
import joblib
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")

creating target column of numerical category

1-World, 2-Sports, 3-Business, 4-Sci/Tech

In [3]:
newscategory_test = pd.read_csv('news_cat_data_2.csv')
newscategory_train = pd.read_csv('news_cat_data_1.csv')
newscategory_df = pd.concat([newscategory_test, newscategory_train], ignore_index=True)
newscategory_df = pd.DataFrame(newscategory_df)
newscategory_df = newscategory_df.drop('Title', axis=1)
newscategory_df.dropna(inplace=True)
newscategory_df

        Class Index                                        Description
0                 3  Unions representing workers at Turner   Newall...
1                 4  SPACE.com - TORONTO, Canada -- A second\team o...
2                 4  AP - A company founded by a chemistry research...
3                 4  AP - It's barely dawn when Mike Fitzpatrick st...
4                 4  AP - Southern California's smog-fighting agenc...
...             ...                                                ...
127595            1   KARACHI (Reuters) - Pakistani President Perve...
127596            2  Red Sox general manager Theo Epstein acknowled...
127597            2  The Miami Dolphins will put their courtship of...
127598            2  PITTSBURGH at NY GIANTS Time: 1:30 p.m. Line: ...
127599            2  INDIANAPOLIS -- All-Star Vince Carter was trad...

[127600 rows x 2 columns]

In [4]:
X_train,X_test,y_train,y_test = train_test_split(newscategory_df["Description"],newscategory_df["Class Index"],test_size=0.3)

In [5]:
vec= CountVectorizer()
X_train_vec = vec.fit_transform(X_train)
X_test_vec = vec.transform(X_test)

In [6]:
X_train_vec = X_train_vec.astype('float32')
X_test_vec = X_test_vec.astype('float32')

In [7]:
model= MultinomialNB()
model.fit(X_train_vec,y_train)
print(classification_report(y_test, model.predict(X_test_vec)))
model.score(X_test_vec, y_test)

              precision    recall  f1-score   support

           1       0.90      0.89      0.90      9644
           2       0.94      0.97      0.96      9511
           3       0.87      0.85      0.86      9627
           4       0.86      0.87      0.86      9498

    accuracy                           0.89     38280
   macro avg       0.89      0.89      0.89     38280
weighted avg       0.89      0.89      0.89     38280

0.894723092998955

In [8]:
model= LogisticRegression()
model.fit(X_train_vec,y_train)
print(classification_report(y_test, model.predict(X_test_vec)))
model.score(X_test_vec, y_test)

              precision    recall  f1-score   support

           1       0.91      0.88      0.90      9644
           2       0.95      0.97      0.96      9511
           3       0.87      0.86      0.87      9627
           4       0.86      0.88      0.87      9498

    accuracy                           0.90     38280
   macro avg       0.90      0.90      0.90     38280
weighted avg       0.90      0.90      0.90     38280

0.8973354231974922

In [9]:
model_save=joblib.dump(model,'news_category_model.joblib')
vector_save = joblib.dump(vec, 'news_category_vector.joblib')

In [10]:
# model= RandomForestClassifier(n_jobs=-1)
# model.fit(X_train_vec,y_train)
# print(classification_report(y_test, model.predict(X_test_vec)))
# model.score(X_test_vec, y_test)

In [11]:
# model= SVC()
# model.fit(X_train_vec,y_train)
# print(classification_report(y_test, model.predict(X_test_vec)))
# model.score(X_test_vec, y_test)